@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-text-light: var(--text-light);

  --font-bebas: var(--font-bebas-neue);
  --font-geist: var(--font-geist-sans);
  --color-muted: var(--muted);
}

/* Լռելյայն վիճակ (Light Mode) */
:root {
  --background: #ffffff;
  --foreground: #131217;
  --card: #f9f9f9;
  --primary: #f9ab00;
  --accent: #ffc300;
  --muted: #666666;
  --border: #e2e2e2;
  --text-light: #444444;
}

/* Dark Mode - Սա ակտիվանում է, երբ html-ը ստանում է class="dark" */
.dark {
  --background: rgb(26, 25, 31);
  --foreground: #f8f8f8;
  --card: #1a191d;
  --primary: #f9ab00;
  --accent: #ffc300;
  --muted: #7f7d82;
  --border: #333136;
  --text-light: #b3b2b5;
}

@layer base {
  *, ::after, ::before {
    border-color: var(--border);
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-geist), sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  h1, h2, h3, .movie-title {
    font-family: var(--font-bebas), sans-serif;
    text-transform: uppercase;
  }
}

@layer components {
  .btn-hotflix {
    @apply bg-primary text-black dark:text-white px-6 py-2.5 rounded-md font-semibold uppercase transition-all duration-300 hover:-translate-y-0.5 hover:shadow-[0_4px_15px_rgba(249,171,0,0.3)] active:scale-95;
  }
}